/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#FFF7FB;

    color:#333;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

.container{

    width:100%;

    max-width:1550px;

    margin:auto;

}

/* =========================
        NAVBAR
========================= */

header{

    position:sticky;

    top:0;

    z-index:1000;

    background:linear-gradient(90deg,#ff4d94,#ff2d7a);

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.navbar{

    height:95px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

/* Logo */

.logo{

    display:flex;

    align-items:center;

    gap:10px;

}

.logo img{

    width:200px;

}

.logo h2{

    font-family:'Baloo 2',cursive;

    color:white;

    font-size:32px;

    line-height:1;

}

.logo p{

    color:white;

    font-size:24px;
    
    align-items:center;

}

/* Menu */

nav ul{

    display:flex;

    gap:55px;

}

nav a{

    color:white;

    font-weight:600;

    transition:.3s;

}

nav a:hover{

    color:#ffe082;

}

/* Subscribe */

.nav-actions{

    display:flex;

    align-items:center;

}

.store-btn{

    background:linear-gradient(90deg,#ffffff,#fff3f8);

    color:#ff2d7a;

    padding:14px 26px;

    border-radius:40px;

    font-weight:700;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.store-btn:hover{

    transform:translateY(-3px);

    background:#ffffff;

}
/* ===========================
        HERO SECTION
=========================== */

.hero{
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg,#ffe8f3,#fff7fb);
    padding:35px 0;
}

.hero-container{

    display:grid;

    grid-template-columns:1fr 3fr 1fr;

    align-items:center;

    gap:40px;

}

.hero-left h3{

    font-size:36px;

    color:#333;
    

}

.hero-left h1{

    font-size:36px;

    color:#ff2d7a;

    font-family:'Baloo 2',cursive;

    line-height:1.10;

    margin:20px 30;

}

.hero-ribbon{

    display:inline-block;

    background:#ff4d94;

    color:white;

    padding:12px 30px;

    border-radius:12px;

    font-weight:bold;

    margin:10px 0;

}

.hero-left p{

    color:#0e0d0d;

    line-height:2.0;

    max-width:360px;

    font-size:18px;

    text-align:left;

    margin:10px 0;
}
.hero-features{

    display:flex;

    gap: 30px;px;

    flex-wrap:wrap;

}

.feature{

    width:120px;

    text-align:center;

}

.feature i{

    width:80px;

    height:80px;

    line-height:80px;

    border-radius:75%;

    background:#ff4d94;

    color:white;

    font-size:40px;

    margin-bottom:01px;

}

.feature span{

    display:block;

    margin-top:02px;

    font-size:12px;

    font-weight:800;

    color:#444;

}
.hero-center{

    text-align:center;

}

.hero-center img{

    width:100%;

    height:auto;

    max-width:1980px;

    margin:auto;

}

.benefits{

    background:white;

    padding:70px;

    border-radius:000px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

        width:140%;

    max-width:420px;

    margin:auto;

}

.benefits h3{

    color:#ff2d7a;

    margin-bottom:20px;

}

.benefits li{

    margin:18px 0;

    font-size:22px;

}
/* ===========================================
        FEATURED BOOKS
=========================================== */

.featured-books{

    padding:80px 0;

    background:linear-gradient(to bottom,#fff7fb,#ffffff);

}

.book-content{

padding:20px;

}

.section-title{

    text-align:center;

    font-size:48px;

    color:#ff2d7a;

    font-family:'Baloo 2',cursive;

    margin-bottom:10px;

}

.section-subtitle{

    text-align:center;

    font-size:20px;

    color:#666;

    margin-bottom:50px;

}
.books-container{

    width:100%;

    max-width:1450px;

    margin:auto;

    padding:0 20px;

}
.books-grid{

    display:grid;

    display:grid;

    grid-template-columns:repeat(5,1fr);

    column-gap:115px;
row-gap:35px;

    justify-items:center;

    max-width:5900px;

    margin:0 auto;

}

.book-card{
    width:150%;
    max-width:none;
    height:450px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.book-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(255,45,122,.25);

}

.book-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    

}

.book-card h3{

display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;

overflow:hidden;

line-height:1.35;

min-height:48px;

font-size:20px;

}

.buy-btn{

padding:8px 18px;

font-size:15px;

border-radius:10px;

}
.price{

display:inline-block;

background:#ff2d86;

color:white;

padding:8px 16px;

border-radius:05px;

font-weight:bold;

font-size:24px;

}

.price-row{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:12px;

gap:10px;

}

.book-content button{

padding:8px 16px;

font-size:15px;

border-radius:12px;

font-weight:600;

}

.book-card a{

    text-decoration:none;

}

.book-card button{

padding:12px;

font-size:16px;

border-radius:12px;

}

.book-card button:hover{

    transform:scale(1.04);

    background:linear-gradient(90deg,#ff2d7a,#e91e63);

}
.book-card{

    

position:relative;

overflow:hidden;

border-radius:18px;

background:#fff;

transition:.4s;

border:3px solid #ff69b4;

animation:borderGlow 2s infinite alternate;

}#home,
#books,
#Help,
#contact{
    scroll-margin-top:130px;
}
    /* ==========================
        CONTACT SECTION
========================== */

.contact{
    padding:80px 0;
    background:#fff7fb;
}

.contact-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    margin-top:50px;

}

.contact-card{

    background:white;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.35s;

}

.contact-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(255,45,122,.25);

}

.contact-card i{

    font-size:45px;

    color:#ff2d7a;

    margin-bottom:20px;

}

.contact-card h3{

    margin-bottom:12px;

    font-size:24px;

}

.contact-card p,
.contact-card a{

    color:#555;

    font-size:18px;

    text-decoration:none;

}

.contact-card a:hover{

    color:#ff2d7a;

}

/* ===========================
   WHY PARENTS LOVE
=========================== */

.why-love{

    padding:90px 0;

    background:#fff;
}

.love-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    margin-top:60px;
}

.love-card{

    background:#fff7fb;

    padding:40px 30px;

    text-align:center;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.35s;
}

.love-card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 50px rgba(255,45,122,.18);
}

.love-card i{

    font-size:50px;

    color:#ff2d7a;

    margin-bottom:20px;
}

.love-card h3{

    font-size:28px;

    margin-bottom:15px;

    color:#333;
}

.love-card p{

    font-size:17px;

    color:#666;

    line-height:1.8;
}
/*=========================
      REVIEWS
=========================*/

.reviews{

    padding:90px 0;

    background:linear-gradient(to bottom,#ffffff,#fff7fb);

}

.review-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    margin-top:60px;

}

.review-card{

    background:white;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.35s;

}

.review-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(255,45,122,.20);

}

.stars{

    color:#FFD700;

    font-size:28px;

    margin-bottom:20px;

}

.review-card p{

    font-size:18px;

    line-height:1.8;

    color:#555;

    font-style:italic;

    margin-bottom:25px;

}

.review-card h4{

    color:#ff2d7a;

    font-size:22px;

}

.review-card span{

    color:#777;

    font-size:15px;

}
/*==========================
        FAQ
==========================*/

.faq{

    padding:90px 0;

    background:#ffffff;

}

.faq-container{

    max-width:1000px;

    margin:50px auto 0;

}

.faq-item{

    background:#fff7fb;

    margin-bottom:20px;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    overflow:hidden;

}

.faq-item summary{

    cursor:pointer;

    padding:25px;

    font-size:22px;

    font-weight:600;

    color:#ff2d7a;

    list-style:none;

}

.faq-item summary::-webkit-details-marker{

    display:none;

}

.faq-item summary::after{

    content:"+";

    float:right;

    font-size:28px;

}

.faq-item[open] summary::after{

    content:"−";

}

.faq-item p{

    padding:0 25px 25px;

    font-size:18px;

    color:#555;

    line-height:1.8;

}
/*=========================
        FOOTER
=========================*/

.footer{

    background:#ff2d7a;

    color:white;

    padding:70px 0 20px;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:40px;

}

.footer-logo{

    width:300px;

    margin-bottom:20px;

}

.footer-column h3{

    margin-bottom:20px;

    font-size:24px;

}

.footer-column p{

    line-height:1.8;

    margin-bottom:15px;

}

.footer-column ul li{

    margin-bottom:15px;

}

.footer-column a{

    color:white;

    transition:.3s;

}

.footer-column a:hover{

    color:#FFD54F;

}

.footer-bottom{

    text-align:center;

    margin-top:50px;

    border-top:1px solid rgba(255,255,255,.3);

    padding-top:25px;

    font-size:16px;

}
.hero-tagline{

    color:#ff4d94;

    font-size:28px;

    margin:05px 0;

    font-family:'Baloo 2',cursive;

}.hero-center img{

    transition:.4s;

}

.hero-center img:hover{

    transform:scale(1.03);

}.hero-center img{

transition:.4s ease;

}

.hero-center img:hover{

transform:scale(1.02);

}
nav a{

position:relative;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:3px;

background:white;

transition:.3s;

}

nav a:hover::after{

width:100%;

}
.store-btn{

box-shadow:0 12px 25px rgba(0,0,0,.18);

}

/* Floating Decorations */

.hero{

    position:relative;

    overflow:hidden;

}

.floating{

    position:absolute;

    font-size:40px;

    animation:float 5s ease-in-out infinite;

    pointer-events:none;

    z-index:5;

}

/* Pink Circle */

.circle1{

    width:120px;

    height:120px;

    border-radius:50%;

    background:rgba(255,45,122,.08);

    top:40px;

    left:-40px;

}

/* Yellow Circle */

.circle2{

    width:80px;

    height:80px;

    border-radius:50%;

    background:rgba(255,193,7,.15);

    bottom:60px;

    right:80px;

}

/* Stars */

.star1{

    width:18px;

    height:18px;

    background:#FFD54F;

    clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);

    top:100px;

    right:120px;

}

.star2{

    width:14px;

    height:14px;

    background:#FF69B4;

    clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);

    bottom:100px;

    left:300px;

}

.heart1{

    color:#ff4d94;

    font-size:30px;

    right:250px;

    top:220px;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}.floating{

    position:absolute;

    animation: float 4s ease-in-out infinite;

    pointer-events:none;

    z-index:2;

}@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }

}
.star1{

    top:80px;
    left:180px;

    animation-delay:0s;

}

.star2{

    top:150px;
    right:200px;

    animation-delay:1s;

}

.heart1{

    top:130px;
    right:120px;

    font-size:30px;

    animation-delay:2s;

}

.circle1{

    top:-30px;
    left:-30px;

    animation-delay:3s;

}

.circle2{

    bottom:60px;
    right:60px;

    animation-delay:1.5s;

}
@keyframes float{

    0%{

        transform:translateY(0px) rotate(0deg);

    }

    50%{

        transform:translateY(-12px) rotate(4deg);

    }

    100%{

        transform:translateY(0px) rotate(0deg);

    }

}/* ===========================
        BACK TO TOP
=========================== */

#topBtn{

    position:fixed;

    bottom:30px;

    right:30px;

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    background:linear-gradient(90deg,#ff4d94,#ff2d7a);

    color:white;

    font-size:28px;

    cursor:pointer;

    display:none;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;

    z-index:9999;

}

#topBtn:hover{

    transform:translateY(-5px) scale(1.08);

}
/* ==========================
        LOADER
==========================*/

#loader{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100vh;

    background:#fff7fb;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

    transition:.6s;

}

#loader img{

    width:990px;

    animation:spinLogo 2s infinite ease-in-out;

}

#loader h2{

    margin-top:20px;

    color:#ff2d7a;

    font-size:38px;

    font-family:'Baloo 2',cursive;

}

#loader p{

    margin-top:10px;

    color:#777;

    font-size:20px;

}

.loader-hide{

    opacity:0;

    visibility:hidden;

}

@keyframes spinLogo{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.08);

    }

    100%{

        transform:scale(1);

    }

}@keyframes borderGlow{

0%{

box-shadow:
0 0 5px currentColor,
0 0 15px currentColor,
0 0 25px currentColor;

}

100%{

box-shadow:
0 0 12px currentColor,
0 0 25px currentColor,
0 0 45px currentColor;

}

}

.book-card:nth-child(1){

color:#ff3b30;

border-color:#ff3b30;

}

.book-card:nth-child(2){

color:#00b894;

border-color:#00b894;

}

.book-card:nth-child(3){

color:#0984e3;

border-color:#0984e3;

}

.book-card:nth-child(4){

color:#f39c12;

border-color:#f39c12;

}

.book-card:nth-child(5){

color:#9b59b6;

border-color:#9b59b6;

}

.book-card:nth-child(6){

color:#ff1493;

border-color:#ff1493;

}

.book-card:nth-child(7){

color:#20c997;

border-color:#20c997;

}

.book-card:nth-child(8){

color:#ff5722;

border-color:#ff5722;

}

.book-card:hover{

transform:translateY(-12px) scale(1.03);

}
.book-title{

text-decoration:none;

color:#222;

transition:.3s;

}

.book-title:hover{

color:#ff2d86;

}